<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CNGBookingApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adlogin</display-name>
    <servlet-name>Adlogin</servlet-name>
    <servlet-class>Booking.Adlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adlogin</servlet-name>
    <url-pattern>/Adlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regpump</display-name>
    <servlet-name>Regpump</servlet-name>
    <servlet-class>Booking.Regpump</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regpump</servlet-name>
    <url-pattern>/Regpump</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reguser</display-name>
    <servlet-name>Reguser</servlet-name>
    <servlet-class>Booking.Reguser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reguser</servlet-name>
    <url-pattern>/Reguser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pumplog</display-name>
    <servlet-name>Pumplog</servlet-name>
    <servlet-class>Booking.Pumplog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pumplog</servlet-name>
    <url-pattern>/Pumplog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Searchcity</display-name>
    <servlet-name>Searchcity</servlet-name>
    <servlet-class>Booking.Searchcity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchcity</servlet-name>
    <url-pattern>/Searchcity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>Booking.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ulogin</display-name>
    <servlet-name>Ulogin</servlet-name>
    <servlet-class>Booking.Ulogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ulogin</servlet-name>
    <url-pattern>/Ulogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ubook</display-name>
    <servlet-name>Ubook</servlet-name>
    <servlet-class>Booking.Ubook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ubook</servlet-name>
    <url-pattern>/Ubook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Semi</display-name>
    <servlet-name>Semi</servlet-name>
    <servlet-class>Booking.Semi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Semi</servlet-name>
    <url-pattern>/Semi</url-pattern>
  </servlet-mapping>
</web-app>